database.sqlite filter=lfs diff=lfs merge=lfs -text
clean_matches_6.csv filter=lfs diff=lfs merge=lfs -text
clean_matches_5.csv filter=lfs diff=lfs merge=lfs -text
players.csv filter=lfs diff=lfs merge=lfs -text
name_and_ids.csv filter=lfs diff=lfs merge=lfs -text
